<div *ngIf="!isAuthenticated">
  <h1 *ngIf="!isSigningUp">Login Page</h1>
  <h1 *ngIf="isSigningUp">Sign-Up Page</h1>

  <form *ngIf="!isSigningUp" (ngSubmit)="Login()">
    <input type="email" [(ngModel)]="loginData.email" name="email" placeholder="Email" required />
    <input type="password" [(ngModel)]="loginData.password" name="password" placeholder="Password" required />
    <button class="btn1" type="submit">Login</button>
  </form>
  <p *ngIf="LoginError">{{ LoginError }}</p>


  <form *ngIf="isSigningUp" (ngSubmit)="SignUp()">
    <input type="text" [(ngModel)]="signUpData.name" name="name" placeholder="Full Name" required />
    <input type="email" [(ngModel)]="signUpData.email" name="email" placeholder="Email" required />
    <input type="text" [(ngModel)]="signUpData.cpr" name="cpr" placeholder="CPR Number" required />
    <input type="password" [(ngModel)]="signUpData.password" name="password" placeholder="Password" required />
   

    <button class="btn1" type="submit">Sign Up</button>
</form>

  <p *ngIf="SignupError">{{ SignupError }}</p>
  <p *ngIf="UserCreated" style="color: green;">{{ UserCreated }}</p>

  <button class="btn2"  (click)="isSigningUp = !isSigningUp">
    {{ isSigningUp ? 'Already have an account? Login' : 'Don’t have an account? Sign Up' }}
  </button>
</div>
 
<div *ngIf="isAuthenticated">
  <app-home></app-home>
</div>
